POSTGRES_DB=job_automation
POSTGRES_USER=job_automation
POSTGRES_PASSWORD=job_automation_dev
POSTGRES_PORT=5432

ConnectionStrings__Default=Host=postgres;Port=5432;Database=job_automation;Username=job_automation;Password=job_automation_dev
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
Worker__PollingIntervalSeconds=5

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_TELEMETRY_DISABLED=1
